/* Cart */
.cart {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* Cart Head */
.cart .cartHead {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Cart Head P */
.cart .cartHead p {
    color: red;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* Hover */
.cart .cartHead p:hover {
    color: rgb(22, 0, 0);
}

/* Cart Body */
.cart .cartBody {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    flex-wrap: wrap;
}

/* Cart Product */
.cart .cartBody .cartProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

/* Car Product Img */
.cart .cartBody .cartProduct img {
    width: 40%;
    height: 280px;
    border-radius: 5px;
}

/* Product Desc */
.cart .cartBody .cartProduct .productDesc {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
    font-size: 1rem;
}

/* Cart Desc */
.cart .cartBody .cartProduct .productDesc h4,
.cartDesc {
    color: #323236;
}

/* Cart Quantity */
.cart .cartBody .cartProduct .productDesc .cartQuan {
    font-size: 1rem;
    color: #000000;
    background-color: rgba(43, 173, 43, 0.774);
    padding: 5px;
    border-radius: 50%;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Cart Stock */
.cart .cartBody .cartProduct .productDesc .cartStock {
    width: 90%;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Cart Val */
.cart .cartBody .cartVal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin: 0 30px;
}

/* Cart Price */
.cart .cartBody .cartPrice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-transform: uppercase;
    font-weight: 600;
}

.cart .cartBody .cartPrice h5 {
    margin-bottom: 20px;
}