/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Welcome */
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

/* Video */
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    align-self: center;
}

.content-box {
    position: absolute;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-box .card-title {
    font-size: 3.1rem;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
}

.content-box .card-title strong {
    color: #74626B;
}

.content-box .card-text {
    font-size: 1.9rem;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
}

.knowMore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797ce4;
    border-style: none;
    text-transform: capitalize;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 15px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.knowMore:hover {
    background-color: #676bee;
}

.cont {
    margin-top: 15px;
    width: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}


.rightIcon {
    margin-left: 10px;
    font-size: 1.1rem;
}

/* Products */
.container4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(152, 210, 212);
    background: linear-gradient(90deg, rgba(225, 254, 255, 1) 49%, rgb(2, 73, 87) 94%, rgb(0, 157, 189), 97%);
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.438) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.562) 0px 18px 36px -18px inset;
}

.container4 h2 {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 20px;
    padding: 2px 10px;
    background-color: #131734;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container4 .boxHome {
    width: 85%;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-dots li button {
    pointer-events: none;
    visibility: hidden;
}

/* Product Card */
.container4 .boxHome .card {
    height: 450px;
    border: none;
    font-family: "Calibri", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    width: fit-content;
}

.container4 .boxHome .card:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.container4 .boxHome .card img {
    width: auto;
    height: 200px;
    margin-bottom: 0px;
    margin: 0 auto;
    margin-top: 10px;
}

.container4 .boxHome .card .card-body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container4 .boxHome .card .card-title {
    color: #201749;
    font-weight: 550;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.container4 .boxHome .card .card-text {
    color: #323236;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.1rem;
    font-weight: 500;
}

.container4 .boxHome .card .stock {
    border-style: none;
    width: 90%;
    padding: 1px 0;
    align-self: center;
    border-radius: 10px;
    font-weight: 600;
}

.container4 .boxHome .card .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    margin-top: 15px;
}

.container4 .boxHome .card .price .fadePrice {
    font-size: 1rem;
    color: #000000;
    background-color: rgba(43, 173, 43, 0.774);
    padding: 4px;
    border-radius: 50%;
    font-weight: 600;
}

/* Milkyway */
.container2 {
    width: 100%;
    height: 100vh;
    background-image: url("./Assets/productBack.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container2 .content-box1 {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-end;
    flex-direction: column;
}

.container2 .content-box1 .card-title {
    width: 80%;
    font-size: 2.5rem;
    font-family: "Calibri", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.container2 .content-box1 .card-title strong {
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    text-transform: capitalize;
}

.ourServices {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797ce4;
    border-style: none;
    text-transform: capitalize;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 15px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    margin-top: 10px;
}

.ourServices:hover {
    background-color: #676bee;
}

/* Services */
.container7 {
    width: 100%;
    background-image: url("./Assets/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    position: relative;
}

.container7 h2 {
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    color: #310D98;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 20px;
    padding: 2px 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container7 .content-box2 {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container7 .content-box2 .servicesBox {
    width: 25%;
    height: 450px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    font-family: "Calibri", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    margin-bottom: 25px;
}

.container7 .content-box2 .servicesBox .card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container7 .content-box2 .servicesBox .card-body .card-title {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    letter-spacing: 1px;
    margin-top: 0;
}

.container7 .content-box2 .servicesBox .card-body .card-text {
    padding-bottom: 15px;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
}

.container7 .content-box2 .servicesBox .servicesImg {
    width: 100%;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width:1000px) {
    .cont {
        display: flex;
    }
}

@media only screen and (max-width:1300px) {
    .content-box .card-title {
        font-size: xx-large;
    }

    .content-box .card-text {
        font-size: 1rem;
    }

    .content-box .knowMore {
        font-size: 1rem;
        padding: 5px 10px;
        width: fit-content;
    }
}

@media only screen and (max-width:750px) {
    .content-box .card-title {
        font-size: x-large;
    }

    .content-box .card-text {
        font-size: 0.8rem;
    }

    .content-box .knowMore {
        font-size: x-small;
        padding: 5px 10px;
        width: fit-content;
    }

    .container1 {
        justify-content: center;
        background-image: url('./Assets/cowFarmerImg.jpg');
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    .content-box {
        width: 80%;
        margin-left: 0;
        align-self: center;
    }

    .container2 {
        width: 100%;
        height: max-content;
        background-image: url("./Assets/milkBack.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        color: black;
        padding: 40px 0;
    }

    .container2 h2 {
        color: #000000;
        font-weight: 600;
    }

    .container2 .content-box1 {
        width: 100%;
        align-items: center;
        align-self: center;
    }

    .container2 .content-box1 .card-title {
        width: 70%;
        color: #000000;
        font-weight: 500;
    }

    .container2 .content-box1 .card-title strong {
        color: #000000;
    }

    video {
        display: none;
    }
}

/* @media only screen and (max-width:1115px) {
    .content-box2 {
        flex-direction: column;
    }

    .content-box2 .servicesBox {
        width: 45%;
    }
}
*/
@media only screen and (max-width:600px) {
    .container7 .content-box2 .servicesBox {
        width: 85%;
    }
}