.privacy-container1 {
    width: 100%;
    background-image: url('./Assets/banner.png');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    position: relative;
}

.privacy-container1 h2 {
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    color: #310D98;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 40px;
}

.privacy-container2 p {
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2px;
    margin-top: 10px;
    font-size: 1.8rem;
    text-align: justify;
    padding: 70px 200px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
    .privacy-container1 h2 {
        font-size: 4rem;
        margin-top: 30px;
    }
    
    .privacy-container2 p {
        font-size: 1.6rem;
        padding: 50px 150px;
    }
}

@media only screen and (max-width: 992px) {
    .privacy-container1 {
        height: 100vh;
    }
    
    .privacy-container1 h2 {
        font-size: 4rem;
        margin-top: 20px;
    }
    
    .privacy-container2 p {
        font-size: 1.6rem;
        padding: 40px 100px;
    }
}

@media only screen and (max-width: 576px) {
    .privacy-container1 h2 {
        font-size: 3rem;
        margin-top: 10px;
    }
    
    .privacy-container2 p {
        font-size: 1.2rem;
        padding: 20px 50px;
    }
}
