/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Berkshire Swash */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E3F9FA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: fixed;
    top: 0;
    z-index: 99;
}

/* Navbar Logo */
.nav-logo {
    width: 60px;
}

.nav-logo-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/* Navbar List Item */
.nav-item {
    list-style: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 5px;
    text-align: center;
}

.under {
    width: 0px;
    height: 2px;
    background-color: #043296;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 5ms linear;
    transform-origin: 0;
}

.nav-item:hover>.under {
    width: 100%;
    opacity: 1;
}

/* Navbar Right */
.nav-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Dropdown */
.nav-right .sec-center {
    position: relative;
    text-align: center;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Label Text Color */
.nav-right .sec-center label {
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Profile Pic */
.nav-right .profile {
    width: 40px;
    margin-right: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 50%;
}

/* Dropdown Checkbox Logic */
.nav-right [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.nav-right .dropdown:checked+label,
.dropdown:not(:checked)+label {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
}

.nav-right .dropdown:checked+label:before,
.dropdown:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

.nav-right .dropdown:checked+label:before {
    pointer-events: auto;
}

/* DropDown Icon Logic */
.nav-right .dropdown:not(:checked)+label .uil {
    margin-left: 6px;
    transition: transform 200ms linear;
}

.nav-right .dropdown:checked+label .uil {
    transform: rotate(180deg);
    margin-left: 6px;
    transition: transform 200ms linear;
}

/* Dropdown Elements */
.nav-right .section-dropdown {
    position: absolute;
    padding: 10px 0;
    background-color: #ffffff;
    top: 50px;
    align-self: self-end;
    width: 100%;
    right: 0;
    border-radius: 5px;
    display: block;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
}

.nav-right .dropdown:checked~.section-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.nav-right .section-dropdown:before {
    position: absolute;
    top: -20px;
    right: 0;
    width: 100%;
    content: '';
    display: block;
    z-index: 1;
}

.nav-right .section-dropdown:after {
    position: absolute;
    top: -7px;
    right: 4px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}

/* Dropdown Span Element */
.nav-right .section-dropdown span {
    text-align: left;
    padding: 10px 5px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 501;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav-right .section-dropdown span:hover {
    background-color: rgb(231, 232, 233);
    border-left: 3px solid rgb(0, 132, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-right .section-dropdown span .prof {
    margin-right: 5px;
}

/* Navbar Button */
.nav-btn {
    background-color: #86a2db;
    border-style: none;
    text-transform: uppercase;
    padding: 3px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

/* Navbar Button Hover Effect */
.nav-btn:hover {
    background-color: #7199e4;
}

/* SignUp Buton Style */
.nav-btn:nth-child(1) {
    margin-right: 20px;
}

.navbar-toggler {
    border-style: none;
    cursor: pointer;
}

/* Searchbar */
.search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-nav input {
    border-style: none;
    width: 100%;
    padding: 5px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.search-nav input:focus {
    outline: none;
}

.search-nav .search-icon {
    padding: 0px 10px;
    width: 30px;
    cursor: pointer;
    color: #000000;
}

@media only screen and (max-width:1000px) {
    .nav-right {
        display: none;
    }

    .nav-logo-text {
        display: flex;
    }

    .nav-item:hover>.under {
        width: 0;
        opacity: 0;
    }

    .search-nav {
        margin: 5px 0;
    }
}