.contact1 {
    width: 100%;
    background-image: url('./Assets/banner.png');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    position: relative;
}

.contact1 h2 {
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    color: #310D98;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 60px;
}

.contact1 p {
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    color: #310D98;
    letter-spacing: 0.5px;
    margin-top: 10px;
    font-size: 2.5rem;
    text-align: justify;
    padding: 40px 40px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    .contact1 h2 {
        font-size: 4rem;
        margin-top: 40px;
    }
    
    .contact1 p {
        font-size: 2rem;
        padding: 30px 30px;
    }
}

@media only screen and (max-width: 992px) {
    .contact1 {
        height: 100vh;
    }
    
    .contact1 h2 {
        font-size: 4rem;
        margin-top: 30px;
    }
    
    .contact1 p {
        font-size: 1.5rem;
        padding: 20px 20px;
    }
    
    .form-container {
        flex-direction: column;
    }
    
    .contact2 {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 576px) {
    .contact1 h2 {
        font-size: 3rem;
        margin-top: 20px;
    }
    
    .contact1 p {
        font-size: 1.2rem;
        padding: 10px 10px;
    }
}
